body{
    margin: auto;
    padding: 10px;
    font-family: "Fira Sans", serif;
    max-width: 1260px;
}
.navbar{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

.nav-left h4{
    font-size: 20px;
    margin: auto;
}
.nav-right button{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #006A50;
    background-color: #fff;
    border: 1px solid #006A50;
    border-radius: 5px;
}
.banner-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid #C6E4D6;
    background-color: #C6E4D6;
    padding: 26px;
    border-radius: 15px;
    
}
.banner-left{
    padding-left: 26px;
    margin: auto;
    
}
.banner-left h4{
    font-size: 20px;
    color: rgb(128, 124, 124);
    margin-bottom: 10px;
}
.banner-left h2{
    font-size: 50px;
    margin-top: 4px;
    margin-bottom: 8px;
}
.banner-left button{
    padding: 16px;
    font-weight: bold;
    background-color: #006A50;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
}
.banner-right{
    
    margin-right: 40px;
}
.banner-right img{
    margin-right: 20px;
    width: 100%;
    height: 100%;
}

.piller-section{
    margin-top: 60px;
    margin-bottom: 60px;
}
#piller-title{
    margin-bottom: 40px;
}

.all-pillers{
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
}
.all-pillers .piller{
    border: 1px solid rgb(230, 226, 226);
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 5px;
    
}
.all-pillers .piller p{
    color: rgb(66, 56, 56);
    font-weight: light;
}
.all-future-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
}
.vision-section{
    margin-bottom: 60px;
}
.vision-section .vision-title{
    font-size: 40px;
    margin-bottom: 0;
}
.vision-intro{
    margin-bottom: 30px;
}
.future-card{
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
}
.card-btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.btn-1{
    background-color: #1e4c9c;
}
.btn-2{
    background-color: #13bb6f;
}
.btn-3{
    background-color: #e0ba0f;
}
#card-1{
    background-color: #81B4FC;
    border-color: #81B4FC;
}
#card-2{
    background-color: #b2f5d7;
    border-color: #b2f5d7;
}
#card-3{
    background-color: #f3d99d;
    border-color: #f3d99d;
}
.quote-section{
    border: 1px solid rgb(197, 188, 188);
    border-radius: 10px;
    background: url('/assets/quote-bg.png') no-repeat;
    margin-bottom: 30px;
}
.quote-content{
    margin: 20px;
}
.quote{
    color: #393A3A;
    padding-top: 20px;
    
}
.quote-section p{
    color: #393A3A;
    margin-top: 0;
}
.quote-section h3{
    margin-bottom: 2px;
}
.news-section{
    margin-bottom: 30px;
}
.news-title{
    font-size: 30px;
}
.news-description{
    color: #393A3A;
}
.news-card{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    
}
.news-img-card{
    width:50%;
    margin-right: 10px;
}
.news-img{
    /* border: 1px solid white; */
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
}
.news-details{
    margin: auto;
    margin-right: 10px;
}
.card-title{
    color: #393A3A;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.news-details p{
    color: #393A3A;
    margin-top: 5px;
}
.news-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #006A50;
    border-radius: 5px;
    border: 1px solid #006A50;
    color: white;
    font-weight: bold;
}
.donate-section,
.newsletter-section{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.newsletter-section{
    padding: 70px;
    background-color: rgb(7, 192, 90, 30%);
    border-radius: 20px;
}
.donate-title{
    font-size: 30px;
    margin-bottom: 5px;
}
.all-amounts-card{
    display: flex;
    flex-direction: row;
    text-align: center;
    
    justify-content: center;
}
.amount-card{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgb(221, 216, 216);
    border-radius: 20px;
    margin: 10px;
}
.active-card{
    background-color: rgb(7, 192, 90, 30%);
}
.amount-input{
    margin-bottom: 10px;
    width: 80%;
    padding: 15px;
    text-align: center;
    border: none;
    border-bottom: 0.5px solid #cdd1d1;
}
.newsletter-input{
    margin-bottom: 10px;
    width: 80%;
    padding: 15px;
    border: none;
    border-bottom: 0.5px solid #cdd1d1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.donate-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #006A50;
    border-radius: 5px;
    border: 1px solid #006A50;
    color: white;
    font-weight: bold;
}
.subscribe-btn{
    padding: 14px;
    text-align: center;
    background-color: #006A50;
    border: 1px solid #006A50;
    color: white;
    font-weight: bold;
    margin-left: -5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.newsletter-section p{
    color: #393A3A;
}
.footer-section{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.social-media-icon img{
    margin-right: 20px;
}


