body{
    margin: auto;
    padding: 10px;
    font-family: "Fira Sans", serif;
    max-width: 1260px;
}
.navbar{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

.nav-left h4{
    font-size: 20px;
    margin: auto;
}
.nav-right button{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #006A50;
    background-color: #fff;
    border: 1px solid #006A50;
    border-radius: 5px;
}
.banner-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid #C6E4D6;
    background-color: #C6E4D6;
    padding: 26px;
    border-radius: 15px;
    
}
.banner-left{
    padding-left: 26px;
    margin: auto;
    
}
.banner-left h4{
    font-size: 20px;
    color: rgb(128, 124, 124);
    margin-bottom: 10px;
}
.banner-left h2{
    font-size: 50px;
    margin-top: 4px;
    margin-bottom: 8px;
}
.banner-left button{
    padding: 16px;
    font-weight: bold;
    background-color: #006A50;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
}
.banner-right{
    
    margin-right: 40px;
}
.banner-right img{
    margin-right: 20px;
    width: 100%;
    height: 100%;
}

.piller-section{
    margin-top: 60px;
    margin-bottom: 60px;
}
#piller-title{
    margin-bottom: 40px;
}

.all-pillers{
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
}
.all-pillers .piller{
    border: 1px solid rgb(230, 226, 226);
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 5px;
    
}
.all-pillers .piller p{
    color: rgb(66, 56, 56);
    font-weight: light;
}